*{
    background-color: #1A0B2E;
    margin: 0;
    padding: 0;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.nav-container{
    width: 1600px;
    /* max-width: 1600px; */
   
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    background-color: #1A0B2E;

    

    
}

.nav-container .logo{
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 30px;
}

.logo .logo-color{
   
}

.nav-container .menu{
    list-style-type: none;
    display: flex;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
    
    
}

.nav-container .menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-container button{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 10000px;
    padding: 12.5px 40px 12.5px 16px;
    /* background-color: purple; */
    margin-top: 24px;
    margin-right: 200px;
    margin-bottom: 24px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

button i{
    background: none;
}

.hero-container {
    background-image: url(./image/hero-bg.png);
    
    
    width: 1600px;
    
    height: 760px;
    align-items: center;
    
    
}







    
